$orange-yellow: (
    background: linear-gradient(#F7FD04,#F9B208),
);

$white-back: (
    background: rgb(255, 255, 255),
);

$white: (
    color: rgb(255, 255, 255),
);

$gray: (
    background-color: gray,
);

$black-overlay: (
    background: rgba(0,0,0,0.4),
);

$full-black: (
    color: #000000,
);

$black: (
    background-color : #000000,
);